<script setup>
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import { Link, useForm, usePage } from '@inertiajs/vue3';
import { ref } from 'vue';

defineProps({
    status: {
        type: String,
    },
});

const user = usePage().props.auth.user;

const fileInput = ref(null);
const profilePictureUrl = ref(null);

const openFileInput = () => {
    fileInput.value.click();
};

const handleProfileImage = (e) => {
    form.profile_image = e.target.files[0]
    profilePictureUrl.value = URL.createObjectURL(e.target.files[0]);
};

const form = useForm({
    name: user.name,
    profile_image: null,
    job: user.job,
    about_me: user.about_me,
    facebook_link: user.facebook_link,
    twitter_link: user.twitter_link,
    github_link: user.github_link,
    web_link: user.web_link,
});
</script>

<style scoped>
    .profile-user-img {
        position: relative;
        object-fit: cover;
        height: 100px;
        width: 100px;
    }
    .profile-user-img:hover {
        box-shadow: 0 0 0 3px #4FD675;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

</style>

<template>

        <header>
            <h2>Profile Information</h2>

            <p class="mt-1 text-muted">
                Update your account's profile information and email address.
            </p>
        </header>

        <form @submit.prevent="form.post(route('profile.update'), {preserveScroll: true})">
            <div class="form-group">
                <InputLabel for="profileImage" value="Profile Image" />

                <div class="col-lg-2">
                    <img @click="openFileInput" class="img-fluid rounded-circle profile-user-img" :src="profilePictureUrl ? profilePictureUrl : user.profile_image">
                </div>

                <input
                    id="profileImage"
                    type="file"
                    class="d-none"
                    ref="fileInput"
                    @input="handleProfileImage"
                />
                <progress v-if="form.progress" :value="form.progress.percentage" max="100">{{ form.progress.percentage }}%</progress>

                <InputError class="mt-2" :message="form.errors.profile_image" />
            </div>
            <div class="form-group">
                <InputLabel for="name" value="Name" />

                <TextInput
                    id="name"
                    type="text"
                    class="mt-1"
                    v-model="form.name"
                    required
                    autocomplete="name"
                />

                <InputError class="mt-2" :message="form.errors.name" />
            </div>
            <div class="form-group">
                <InputLabel for="job" value="Job" />

                <TextInput
                    id="job"
                    type="text"
                    class="mt-1"
                    v-model="form.job"
                />

                <InputError class="mt-2" :message="form.errors.job" />
            </div>
            <div class="form-group">
                <InputLabel for="aboutMe" value="About Me" />

                <textarea
                    id="aboutMe"
                    type="text"
                    class="form-control"
                    v-model="form.about_me"
                ></textarea>

                <InputError class="mt-2" :message="form.errors.about_me" />
            </div>
            <div class="form-group">
                <InputLabel for="facebookLink" value="Facebook Link" />

                <TextInput
                    id="facebookLink"
                    type="text"
                    class="mt-1"
                    v-model="form.facebook_link"
                />

                <InputError class="mt-2" :message="form.errors.facebook_link" />
            </div>
            <div class="form-group">
                <InputLabel for="twitterLink" value="Twitter Link" />

                <TextInput
                    id="twitterLink"
                    type="text"
                    class="mt-1"
                    v-model="form.twitter_link"
                />

                <InputError class="mt-2" :message="form.errors.twitter_link" />
            </div>
            <div class="form-group">
                <InputLabel for="githubLink" value="Github Link" />

                <TextInput
                    id="githubLink"
                    type="text"
                    class="mt-1"
                    v-model="form.github_link"
                />

                <InputError class="mt-2" :message="form.errors.github_link" />
            </div>
            <div class="form-group">
                <InputLabel for="webLink" value="Web Link" />

                <TextInput
                    id="webLink"
                    type="text"
                    class="mt-1"
                    v-model="form.web_link"
                />

                <InputError class="mt-2" :message="form.errors.web_link" />
            </div>

            <div v-if="form.isDirty"><p class="text-success"> You made some changes, click save to save it. </p></div>
            <div>
                <PrimaryButton :disabled="form.processing">Save</PrimaryButton>

                <Transition
                    enter-active-class="transition ease-in-out"
                    enter-from-class="opacity-0"
                    leave-active-class="transition ease-in-out"
                    leave-to-class="opacity-0"
                >
                    <p v-if="form.recentlySuccessful" class="text-success mt-2">Saved.</p>
                </Transition>
            </div>
        </form>
</template>
