<template>
<MainLayout>
    <Head :title="page.title" />
    <div class="mt-5" v-html="page.content"></div>
</MainLayout>
</template>

<script setup>
import { Head, Link } from '@inertiajs/vue3';
import MainLayout from "@/Layouts/MainLayout.vue";

const props = defineProps({
   page: Object
});
</script>

<style scoped>

</style>
