<template>
    <MainLayout>
        <Head title="Index" />
        <!-- start of banner -->
        <div class="banner text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <h1 class="mb-5">What Would You <br> Like To Read Today?</h1>
                        <ul class="list-inline widget-list-inline">
                            <li class="list-inline-item" v-for="tag in tags"><Link :href="route('posts.by.tag',tag.id)">{{ tag.title }}</Link></li>
                        </ul>
                    </div>
                </div>
            </div>


            <svg class="banner-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
                      stroke-miterlimit="10" />
                <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
                <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
                      stroke-miterlimit="10" />
            </svg>

            <svg class="banner-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                    <path class="path"
                          d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z" />
                    <path
                        d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z"
                        stroke="#040306" stroke-miterlimit="10" />
                </g>
                <defs>
                    <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>


            <svg class="banner-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306"
                      stroke-miterlimit="10" />
                <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z" />
                <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306"
                      stroke-miterlimit="10" />
            </svg>


            <svg class="banner-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1"
                    stroke-width="2" />
            </svg>
        </div>
        <!-- end of banner -->
        <section class="section pb-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5">
                        <h2 class="h5 section-title">Editors Pick</h2>
                        <article class="card">
                            <div class="post-slider slider-sm">
                                <img src="images/post/post-1.jpg" class="card-img-top" alt="post-thumb">
                            </div>

                            <div class="card-body">
                                <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">Use apples to give your bakes caramel and a moist texture</a></h3>
                                <ul class="card-meta list-inline">
                                    <li class="list-inline-item">
                                        <a href="author-single.html" class="card-meta-author">
                                            <img src="images/john-doe.jpg">
                                            <span>Charls Xaviar</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="ti-timer"></i>2 Min To Read
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="ti-calendar"></i>14 jan, 2020
                                    </li>
                                    <li class="list-inline-item">
                                        <ul class="card-meta-tag list-inline">
                                            <li class="list-inline-item"><a href="tags.html">Color</a></li>
                                            <li class="list-inline-item"><a href="tags.html">Recipe</a></li>
                                            <li class="list-inline-item"><a href="tags.html">Fish</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>It’s no secret that the digital industry is booming. From exciting startups to …</p>
                                <a href="post-details.html" class="btn btn-outline-primary">Read More</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-lg-4 mb-5">
                        <h2 class="h5 section-title">Trending Post</h2>
                            <article class="card mb-4" v-for="trendingPost in trendingPosts.data">
                                <div class="card-body d-flex">
                                    <img class="card-img-sm" :src="trendingPost.image" :alt="trendingPost.title">
                                    <div class="ml-3">
                                        <h4><Link :href="route('posts.show', trendingPost.id)" class="post-title">{{ trendingPost.title }}</Link></h4>
                                        <ul class="card-meta list-inline mb-0">
                                            <li class="list-inline-item mb-0">
                                                <i class="ti-calendar"></i>{{ trendingPost.date }}
                                            </li>
                                            <li class="list-inline-item mb-0">
                                                <i class="ti-timer"></i>2 Min To Read
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                    </div>

                    <div class="col-lg-4 mb-5">
                        <h2 class="h5 section-title">Popular Post</h2>

                        <article class="card">
                            <div class="post-slider slider-sm">
                                <img src="images/post/post-5.jpg" class="card-img-top" alt="post-thumb">
                            </div>
                            <div class="card-body">
                                <h3 class="h4 mb-3"><a class="post-title" href="post-details.html">How To Make Cupcakes and Cashmere Recipe At Home</a></h3>
                                <ul class="card-meta list-inline">
                                    <li class="list-inline-item">
                                        <a href="author-single.html" class="card-meta-author">
                                            <img src="images/kate-stone.jpg" alt="Kate Stone">
                                            <span>Kate Stone</span>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="ti-timer"></i>2 Min To Read
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="ti-calendar"></i>14 jan, 2020
                                    </li>
                                    <li class="list-inline-item">
                                        <ul class="card-meta-tag list-inline">
                                            <li class="list-inline-item"><a href="tags.html">City</a></li>
                                            <li class="list-inline-item"><a href="tags.html">Food</a></li>
                                            <li class="list-inline-item"><a href="tags.html">Taste</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>It’s no secret that the digital industry is booming. From exciting startups to …</p>
                                <a href="post-details.html" class="btn btn-outline-primary">Read More</a>
                            </div>
                        </article>
                    </div>
                    <div class="col-12">
                        <div class="border-bottom border-default"></div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-sm">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8  mb-5 mb-lg-0">
                        <h2 class="h5 section-title">Recent Post</h2>
                        <!--           Выводим последние посты             -->
                        <article class="card mb-4" v-for="post in posts.data">
                            <div class="post-slider">
                                <img :src="post.image" class="card-img-top" :alt="post.title">
                                <template v-if="post.post_images">
                                    <img v-for="postImage in post.post_images" :src="postImage.url" class="card-img-top" :alt="post.title">
                                </template>
                            </div>
                            <div class="card-body">
                                <h3 class="mb-3"><Link class="post-title" :href="route('posts.show', post.id)">{{ post.title }}</Link></h3>
                                <ul class="card-meta list-inline">
                                    <li class="list-inline-item">
                                        <Link :href="route('author',post.author_id)" class="card-meta-author">
                                            <img :src="post.author_img" :alt="post.author_name">
                                            <span>{{ post.author_name }}</span>
                                        </Link>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="ti-calendar"></i>{{ post.date }}
                                    </li>
                                    <li class="list-inline-item">
                                        <ul class="card-meta-tag list-inline">
                                            <li v-for="postTag in post.tags" class="list-inline-item"><Link :href="route('posts.by.tag', postTag.id)">{{ postTag.title }}</Link></li>
                                        </ul>
                                    </li>
                                </ul>
                                <p>{{ post.description }}</p>
                                <Link :href="route('posts.show', post.id)" class="btn btn-outline-primary">Read More</Link>
                                <Link v-if="managePost(post.author_id)" :href="route('posts.show', post.id)" class="btn btn-outline-secondary">Edit</Link>
                            </div>
                        </article>

                        <Pagination :pagination="posts.meta" />

                    </div>
                    <aside class="col-lg-4 sidebar-home">

                        <!-- authors -->
                        <div class="widget widget-author">
                            <h4 class="widget-title">Authors</h4>
                            <div class="media align-items-center" v-for="author in authors">
                                <div class="mr-3">
                                    <img class="widget-author-image" :src="author.profile_image" :alt="author.name">
                                </div>
                                <div class="media-body">
                                    <h5 class="mb-1"><Link class="post-title" :href="route('author', author.id)">{{ author.name }}</Link></h5>
                                    <span>{{ author.job }}</span>
                                </div>
                            </div>
                        </div>

                        <!-- categories -->
                        <div class="widget widget-categories">
                            <h4 class="widget-title"><span>Categories</span></h4>
                            <ul class="list-unstyled widget-list">
                                <li v-for="category in categoriesIndex.data"><Link :href="route('posts.by.category', category.id)" class="d-flex">{{ category.title }} <small class="ml-auto">({{ category.postCount }})</small></Link></li>
                            </ul>
                        </div><!-- tags -->
                        <div class="widget">
                            <h4 class="widget-title"><span>Tags</span></h4>
                            <ul class="list-inline widget-list-inline widget-card">
                                <li class="list-inline-item" v-for="tag in tags"><Link :href="route('posts.by.tag', tag.id)">{{ tag.title }}</Link></li>

                            </ul>
                        </div><!-- recent post -->
                        <div class="widget">
                            <h4 class="widget-title">Recent Post</h4>

                            <!-- post-item -->
                            <article class="widget-card" v-for="recentPost in recentPosts.data">
                                <div class="d-flex">
                                    <img class="card-img-sm" :src="recentPost.image">
                                    <div class="ml-3">
                                        <h5><Link class="post-title" :href="route('posts.show', recentPost.id)">{{ recentPost.title }}</Link></h5>
                                        <ul class="card-meta list-inline mb-0">
                                            <li class="list-inline-item mb-0">
                                                <i class="ti-calendar"></i>{{ recentPost.date }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <!-- Social -->
                        <div class="widget">
                            <h4 class="widget-title"><span>{{ widgets.title }}</span></h4>
                            <div v-html="widgets.content"></div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
    </MainLayout>

</template>

<script setup>
import { Head, Link, usePage } from '@inertiajs/vue3';
import {ref} from "vue";
import MainLayout from "@/Layouts/MainLayout.vue";
import {computed, onMounted} from "vue";
import Pagination from "@/Components/Pagination.vue";

const props = defineProps({
    tags: Object,
    posts: Object,
    trendingPosts: Object,
    authors: Object,
    categoriesIndex: Object,
    widgets: Object,
    recentPosts: Object,
    permissions: Object,
})

const page = usePage();

const author = page.props.auth.user ? page.props.auth.user : null;

const managePost = (post) => {
    if (props.permissions && props.permissions.posts_manage) return true;
    return author ? author.id === post : false;
}

</script>
