<template>
<MainLayout>
    <Head :title="category.title" />
    <section class="section">
        <div class="py-4"></div>
        <div class="container">
            <div class="row">
                <div
                    class="col-lg-8  mb-5 mb-lg-0">
                    <h1 class="h2 mb-4">Showing items from <mark>{{ category.title }}</mark></h1>
                    <article v-if="posts.data.length > 0" class="card mb-4" v-for="post in posts.data">
                        <div class="post-slider">
                            <img :src="post.image" class="card-img-top" alt="post-thumb">
                            <template v-if="post.post_images">
                                <img v-for="postImage in post.post_images" :src="postImage.url" class="card-img-top" :alt="post.title">
                            </template>
                        </div>
                        <div class="card-body">
                            <h3 class="mb-3"><Link class="post-title" :href="route('posts.show', post.id)">{{ post.title }}</Link></h3>
                            <ul class="card-meta list-inline">
                                <li class="list-inline-item">
                                    <a href="author-single.html" class="card-meta-author">
                                        <img :src="post.author_img" :alt="post.author_name">
                                        <span>{{ post.author_name }}</span>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>{{ post.date }}
                                </li>
                                <li class="list-inline-item">
                                    <ul class="card-meta-tag list-inline">
                                        <li v-for="postTag in post.tags" class="list-inline-item"><Link :href="route('posts.by.tag', postTag.id)">{{ postTag.title }}</Link></li>
                                    </ul>
                                </li>
                            </ul>
                            <p>{{ post.description }}</p>
                            <Link :href="route('posts.show', post.id)" class="btn btn-outline-primary">Read More</Link>
                        </div>
                    </article>

                    <div v-else>
                        <h1>No results!</h1>
                    </div>

                    <Pagination :pagination="posts.meta" />
                </div>

                <aside class="col-lg-4 sidebar-inner">

                    <!-- authors -->
                    <div class="widget widget-author">
                        <h4 class="widget-title">Authors</h4>
                        <div class="media align-items-center" v-for="author in authors">
                            <div class="mr-3">
                                <img class="widget-author-image" :src="author.profile_image">
                            </div>
                            <div class="media-body">
                                <h5 class="mb-1"><Link class="post-title" href="#">{{ author.name }}</Link></h5>
                                <span>{{ author.job }}</span>
                            </div>
                        </div>
                    </div>

                    <!-- categories -->
                    <div class="widget widget-categories">
                        <h4 class="widget-title"><span>Categories</span></h4>
                        <ul class="list-unstyled widget-list">
                            <li v-for="allCategory in allCategories.data"><Link :href="route('posts.by.category', allCategory.id)" class="d-flex" :class="{'text-primary': allCategory.id === category.id}">{{ allCategory.title }} <small class="ml-auto">({{ allCategory.postCount }})</small></Link></li>
                        </ul>
                    </div>
                    <!-- tags -->
                    <div class="widget">
                        <h4 class="widget-title"><span>Tags</span></h4>
                        <ul class="list-inline widget-list-inline widget-card">
                            <li class="list-inline-item" v-for="allTag in allTags"><Link :href="route('posts.by.tag', allTag.id)">{{ allTag.title }}</Link></li>
                        </ul>
                    </div>
                    <!-- recent post -->
                    <div class="widget">
                        <h4 class="widget-title">Recent Post</h4>

                        <!-- post-item -->
                        <article class="widget-card" v-for="recentPost in recentPosts.data">
                            <div class="d-flex">
                                <img class="card-img-sm" :src="recentPost.image">
                                <div class="ml-3">
                                    <h5><Link class="post-title" :href="route('posts.show', recentPost.id)">{{ recentPost.title }}</Link></h5>
                                    <ul class="card-meta list-inline mb-0">
                                        <li class="list-inline-item mb-0">
                                            <i class="ti-calendar"></i>{{ recentPost.date }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- Social -->
                    <div class="widget">
                        <h4 class="widget-title"><span>{{ widgets.title }}</span></h4>
                        <div v-html="widgets.content"></div>
                    </div>
                </aside>

            </div>
        </div>
    </section>
</MainLayout>
</template>

<script setup>
import { Head, Link } from '@inertiajs/vue3';
import MainLayout from '@/Layouts/MainLayout.vue'
import Pagination from '@/Components/Pagination.vue'
const props = defineProps({
    posts: Object,
    category: Object,
    authors: Object,
    recentPosts: Object,
    allTags: Object,
    allCategories: Object,
    widgets: Object,
});
</script>

<style scoped>

</style>
