<template>
    <MainLayout>
        <Head :title="post.data.title"/>
        <section class="section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class=" col-lg-9   mb-5 mb-lg-0">
                        <article>
                            <div class="post-slider mb-4">
                                <img :src="post.data.image" class="card-img" :alt="post.data.title">
                                <img v-for="postImages in post.data.post_images" :src="postImages.url" class="card-img" :alt="post.data.title">
                            </div>

                            <h1 class="h2">{{ post.data.title }}</h1>
                            <ul class="card-meta my-3 list-inline">
                                <li class="list-inline-item">
                                    <Link :href="route('author', post.data.author_id)" class="card-meta-author">
                                        <img :src="post.data.author_img" :alt="post.data.author_name">
                                        <span>{{ post.data.author_name }}</span>
                                    </Link>
                                </li>
                                <li class="list-inline-item">
                                    <i class="ti-calendar"></i>{{ post.data.date }}
                                </li>
                                <li class="list-inline-item">
                                    <ul class="card-meta-tag list-inline">
                                        <li v-for="postTags in post.data.tags" class="list-inline-item"><a :href="route('posts.by.tag', postTags.id)">{{ postTags.title }}</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="content" v-html="post.data.content"></div>
                        </article>

                    </div>


                    <div class="col-lg-9 col-md-12">
                        <div class="mb-5 border-top mt-4 pt-5">

                            <h3 class="mb-4">Comments ({{ post.data.comments.length }})</h3>

                            <div v-if="post.data.comments.length > 0" v-for="comment in post.data.comments" :key="comment.id" class="media d-block d-sm-flex mb-4 pb-4">
                                <a class="d-inline-block mr-2 mb-3 mb-md-0 comment" href="#">
                                    <img :src="comment.author_img" class="mr-3 rounded-circle" :alt="comment.author_name">
                                </a>
                                <div class="media-body">
                                    <a href="#!" class="h4 d-inline-block mb-3">{{ comment.author_name }}</a>

                                    <p>{{ comment.message }}</p>

                                    <span class="text-black-800 mr-3 font-weight-600">{{ comment.date }}</span>
                                    <a class="text-primary font-weight-600" href="#!">Reply</a>
                                </div>
                            </div>
<!--                            <div class="media d-block d-sm-flex">-->
<!--                                <div class="d-inline-block mr-2 mb-3 mb-md-0" href="#">-->
<!--                                    <img class="mr-3" src="/images/post/arrow.png" alt="">-->
<!--                                    <a href="#!"><img src="/images/post/user-02.jpg" class="mr-3 rounded-circle" alt=""></a>-->
<!--                                </div>-->
<!--                                <div class="media-body">-->
<!--                                    <a href="#!" class="h4 d-inline-block mb-3">Nadia Sultana Tisa</a>-->

<!--                                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>-->

<!--                                    <span class="text-black-800 mr-3 font-weight-600">April 18, 2020 at 6.25 pm</span>-->
<!--                                    <a class="text-primary font-weight-600" href="#!">Reply</a>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>

                        <div v-if="author_id">

                            <h3 class="mb-4">Leave a Reply</h3>

                            <form @submit.prevent="addComment">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <textarea v-model="form.message" class="form-control shadow-none" name="comment" rows="7" required></textarea>
                                        <p class="text-danger" v-if="form.errors.message">{{ form.errors.message }}</p>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit" :class="{'opacity-25': form.processing}" :disabled="form.processing">Comment Now</button>
                            </form>
                        </div>
                        <div v-else>
                            <p class="text-muted">Please <Link :href="route('login')">login</Link> to leave a comment</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </MainLayout>
</template>

<script setup>
import MainLayout from '@/Layouts/MainLayout.vue'
import {Head, Link, useForm, usePage} from '@inertiajs/vue3'
import {onMounted, ref} from "vue";
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';

const props = defineProps({
    post: Object,
})


const addComment = () => {
    form.post(route('posts.comment.store'), {
        preserveScroll:true,
        onSuccess: () => {
            toast.success(page.props.message);
            form.message = '';
        }
    })
}

const page = usePage()
const user = page.props.auth.user;
const author_id = user ? user.id : null;

const form = useForm({
    author_id: author_id,
    message: null,
    post_id: props.post.data.id
})

</script>

<style scoped>

</style>
