<template>
            <div
                v-if="imagesDrop.length < 3"
                @dragenter.prevent="toggleActive"
                @dragleave.prevent="toggleActive"
                @dragover.prevent=""
                @drop.prevent="toggleActive"
                :class="{'active-dropzon': active}"
                ref="dropzone" class="custom-dropzone">
                <div class="mainDrag" v-if="images.length < 1">
                    <span>Drag or Drop File</span>
                    <span>OR</span>
                    <label for="dropzoneFile">Select File</label>
                </div>
                <template v-if="imagesDrop.length > 0">
                    <div class="images" >
                        <div class="image-preview" v-for="(image, key) in imagesDrop" :key="image.id" @click.prevent="$emit('deleteImage',image); imagesDrop.splice(key, 1)"><img class="img-fluid" :src="image.url"><i class="ti-close"></i></div>
                    </div>
                    <div @click="imagesInput.click()"><label>Select File</label></div>
                </template>

                <input multiple type="file" id="dropzoneFile" class="dropzoneFile" ref="imagesInput" />
            </div>

            <div v-else class="custom-dropzone">
                <div class="images" >
                    <div class="image-preview" v-for="(image, key) in imagesDrop" :key="image.id" @click.prevent="$emit('deleteImage',image); imagesDrop.splice(key, 1)"><img class="img-fluid" :src="image.url"><i class="ti-close"></i></div>
                </div>
            </div>
</template>

<script setup>
import {onBeforeMount, onMounted, ref} from "vue";

const imagesInput = ref(null);

const active = ref(false);

const props = defineProps({
    images: Object,
})

const imagesDrop = props.images;

const toggleActive = () =>{
    active.value = !active.value;
};
</script>

<style scoped>
.custom-dropzone {
    cursor: pointer;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 2px dashed #41b883;
    background: #fff;
    transition: .5s ease all;
    border-radius: 4px;
}

.images {
    display: flex;
}

.custom-dropzone .image-preview {
    position: relative;
    margin: 10px;
}

.custom-dropzone .image-preview i {
    position: absolute;
    top: 38%;
    left: 38%;
    color: #0c0c0c;
    font-size: 24px;
    font-weight: 700;
    display: none;
    transition: .5s ease all;
}

.custom-dropzone .image-preview:hover img {
    opacity: .5;
}

.custom-dropzone .image-preview:hover i {
    display: block;
}

.custom-dropzone .image-preview img{
    width: 100px;
    object-fit: cover;
    height: 100px;
    border-radius: 10px;
    transition: .3s ease all;
}

.custom-dropzone .mainDrag {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    flex-direction: column;
}

.custom-dropzone label {
    cursor: pointer;
    padding: 8px 12px;
    color: #fff;
    background-color: #41b883;
    border-radius: 4px;
    transition: .3s ease all;
}

.custom-dropzone input {
    display: none;
}

.active-dropzon {
    color: #fff;
    border-color: #fff;
    background-color: #41b883;

}

.active-dropzon label {
    background-color: #fff;
    color: #41b883;
}
</style>
