<template>
    <div class="instafeed text-center mb-5">
        <h2 class="h3 mb-4">INSTAGRAM POST</h2>

        <div class="instagram-slider">
            <div class="instagram-post"><img src="/images/instagram/1.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/2.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/4.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/3.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/2.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/1.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/3.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/4.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/2.jpg"></div>
            <div class="instagram-post"><img src="/images/instagram/4.jpg"></div>
        </div>
    </div>
</template>

<script setup>

</script>

<style scoped>

</style>
