<template>
    <ul v-show="pagination.last_page > 1" class="pagination justify-content-center">
        <template v-for="link in pagination.links" :key="link.label">
            <li class="page-item" :class="{'page-item active': link.active, 'd-none' : !link.url}">
            <Link :href="link.url ?? ''" class="page-link" v-html="link.label" :preserve-scroll="true">
            </Link>
            </li>
        </template>

    </ul>
</template>

<script setup>
import { Link } from '@inertiajs/vue3'

defineProps({
    pagination: Object
})
</script>
