<template>
    <div class="dropdown mr-3">
        <a class="text-primary" type="button">
            {{ user.name }} <i class="ti-angle-down ml-1"></i>
        </a>
        <div class="dropdown-menu">
            <Link class="dropdown-item" :href="route('profile.edit')">Profile</Link>
            <Link class="dropdown-item" :href="route('my.posts.index')">My Posts</Link>
            <Link class="dropdown-item" :href="route('logout')" method="post" as="button">Logout</Link>
        </div>
    </div>
</template>

<script setup>
import { Head, Link } from '@inertiajs/vue3'
import { ref } from "vue";

const props = defineProps({
    user: Object,
})
</script>

<style scoped>

</style>
