<template>
    <MainLayout>
        <Head title="My Posts"/>

        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <Link class="btn btn-primary" :href="route('my.posts.create')">Add New Post</Link>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mb-5 mb-lg-0">
                        <template v-if="posts.data.length > 0">
                            <article v-for="post in posts.data" class="card mb-4">
                                <div class="row card-body">
                                    <div class="col-md-4 mb-4 mb-md-0">
                                        <div class="post-slider slider-sm">
                                            <img :src="post.data.image" class="card-img" style="height:200px; object-fit: cover;">
                                            <img v-for="postImages in post.data.post_images" :src="postImages.url" class="card-img" style="height:200px; object-fit: cover;">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h3 class="h4 mb-3"><Link class="post-title" :href="route('posts.show', post.data.id)">
                                            {{ post.data.title }}</Link></h3>
                                        <ul class="card-meta list-inline">
                                            <li class="list-inline-item">
                                                <i class="ti-calendar"></i>{{ post.data.date }}
                                            </li>
                                            <li v-if="post.data.tags" class="list-inline-item">
                                                <ul class="card-meta-tag list-inline">
                                                    <li v-for="tag in post.data.tags" class="list-inline-item"><Link :href="route('posts.by.tag', tag.id)">
                                                        {{ tag.title }}</Link></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <p>{{ post.data.description }}</p>
                                        <Link :href="route('posts.show', post.data.id)" class="btn btn-outline-primary">Read More</Link>
                                        <Link :href="route('my.posts.edit', post.data.id)" class="btn btn-outline-secondary ml-2">Edit</Link>
                                        <button @click.prevent="deletePost(post.data.id)" class="btn btn-outline-danger ml-2">Delete</button>
                                    </div>
                                </div>
                            </article>
                        </template>
                        <div v-else class="p-4"> <h2>You have no posts!</h2></div>
                        <Pagination :pagination="props.posts" />
                    </div>
                </div>
            </div>
        </section>
    </MainLayout>
</template>

<script setup>
import {Head, Link, router, usePage} from '@inertiajs/vue3';
import { toast } from 'vue3-toastify';
import 'vue3-toastify/dist/index.css';
import MainLayout from '@/Layouts/MainLayout.vue';
import Pagination from "@/Components/Pagination.vue";
import {onUpdated} from "vue";

const props = defineProps({
    posts: Object,
});

const page = usePage();

const deletePost = (id) => {
    router.delete(`/my-posts/delete/${id}`,{
        onSuccess: () => {
            toast.success(page.props.message)
        }
    })
}

</script>

<style scoped>

</style>
