<script setup>
import MainLayout from '@/Layouts/MainLayout.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import DropzoneAdd from "@/Components/DropzoneAdd.vue";
import {Head, Link, useForm, usePage} from '@inertiajs/vue3';
import {onMounted, ref} from "vue";
import { VueEditor } from 'vue3-editor';
import {toast} from "vue3-toastify";
import 'vue3-toastify/dist/index.css';


const props = defineProps({
   categories: Object,
    tags: Object,
});

const page = usePage();
const user = page.props.auth.user;
let dropzoneFile = ref(null)

const handleMainImage = (e) => {
    form.image = e.target.files[0]
}

const drop = (e) => {
    if (e.dataTransfer.files.length > 3) return alert('You can choose only 3 images')
    dropzoneFile.value = e.dataTransfer.files
    form.images = e.dataTransfer.files

    console.log(form.images);
}

const selectedFile = () => {
    if (document.querySelector('.dropzoneFile').files.length > 3) return alert('You can choose only 3 images')
    dropzoneFile.value = document.querySelector('.dropzoneFile').files;
    form.images = document.querySelector('.dropzoneFile').files;
    console.log(form.images);
}

const handleImageAdded = (file, Editor, cursorLocation, resetUploader) => {
    const formData = new FormData();
    formData.append("image", file);

    axios.post("/my-posts/images", formData)
        .then(result => {
            const url = result.data.url; // Get url from response
            Editor.insertEmbed(cursorLocation, "image", url);
            resetUploader();
        })
        .catch(err => {
            console.log(err);
        });
}

const handleImageRemoved = (url) => {
    const formData = new FormData();

    formData.append('url', url);
    axios.post('/my-posts/images/delete', formData)
    .then(result => {
        console.log(result.data.message);
    })
    .catch(err => {
        console.log(err);
    })

}

const form = useForm({
    title: '',
    image: '',
    images: [],
    description: '',
    content: '',
    category_id: '',
    author_id: user.id,
    tags: [],
});

const submit = () => {
     form.post(route('my.posts.store'), {
         preserveScroll:true,
         onSuccess: () => {
             toast.success(page.props.message),
                 form.title = '',
                 form.image = '',
                 form.images = [],
                 form.description = '',
                 form.content = '',
                 form.category_id = '',
                 form.tags = []
         }
     });
};
</script>

<style scoped>
    .file-info {
        padding: 10px;
    }
</style>

<template>
    <MainLayout>
        <Head title="Add new post" />

        <div class="header text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 mx-auto">
                        <h1 class="mb-4">Add new Post</h1>
                    </div>
                </div>
            </div>

            <svg class="header-shape-1" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306" stroke-miterlimit="10"></path>
                <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z"></path>
                <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306" stroke-miterlimit="10"></path>
            </svg>


            <svg class="header-shape-2" width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d)">
                    <path class="path" d="M24.1587 21.5623C30.02 21.3764 34.6209 16.4742 34.435 10.6128C34.2491 4.75147 29.3468 0.1506 23.4855 0.336498C17.6241 0.522396 13.0233 5.42466 13.2092 11.286C13.3951 17.1474 18.2973 21.7482 24.1587 21.5623Z"></path>
                    <path d="M5.64626 20.0297C11.1568 19.9267 15.7407 24.2062 16.0362 29.6855L24.631 29.4616L24.1476 10.8081L5.41797 11.296L5.64626 20.0297Z" stroke="#040306" stroke-miterlimit="10"></path>
                </g>
                <defs>
                    <filter id="filter0_d" x="0.905273" y="0" width="37.8663" height="38.1979" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
                        <feOffset dy="4"></feOffset>
                        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
                    </filter>
                </defs>
            </svg>


            <svg class="header-shape-3" width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.965848 20.6397L0.943848 38.3906L18.6947 38.4126L18.7167 20.6617L0.965848 20.6397Z" stroke="#040306" stroke-miterlimit="10"></path>
                <path class="path" d="M10.4966 11.1283L10.4746 28.8792L28.2255 28.9012L28.2475 11.1503L10.4966 11.1283Z"></path>
                <path d="M20.0078 1.62949L19.9858 19.3804L37.7367 19.4024L37.7587 1.65149L20.0078 1.62949Z" stroke="#040306" stroke-miterlimit="10"></path>
            </svg>


            <svg class="header-border" height="240" viewBox="0 0 2202 240" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 123.043C67.2858 167.865 259.022 257.325 549.762 188.784C764.181 125.427 967.75 112.601 1200.42 169.707C1347.76 205.869 1901.91 374.562 2201 1" stroke-width="2"></path>
            </svg>
        </div>

        <section class="section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">

                        <div class="content mb-5">
                            <h2 id="we-would-love-to-hear-from-you">Edit your post</h2>
                        </div>

                        <form @submit.prevent="submit">
                            <div class="form-group">
                                <label>Main Image</label>
                                <div class="mt-2">
                                    <InputLabel class="btn btn-primary text-white" for="mainImage" value="Choose Image" />
                                    <span id="file-chosen" class="ml-2">{{ form.image ? form.image.name : 'No image chosen' }}</span>
                                    <input
                                        id="mainImage"
                                        type="file"
                                        @input="handleMainImage"
                                        hidden
                                    />
                                </div>
                                <InputError class="mt-2" :message="form.errors.image" />
                            </div>


                            <div class="form-group">
                                <DropzoneAdd @drop.prevent="drop" @change="selectedFile" />
                                <span v-if="dropzoneFile" v-for="fileName in dropzoneFile" class="file-info">{{ fileName.name }}</span>
                                <InputError class="mt-2" :message="form.errors.images" />
                            </div>

                            <div class="form-group">
                                <InputLabel for="title" value="Title" />

                                <TextInput
                                    id="title"
                                    type="text"
                                    class="mt-1 block w-full"
                                    v-model="form.title"
                                    required
                                    autocomplete="title"
                                />

                                <InputError class="mt-2" :message="form.errors.title" />
                            </div>

                            <div class="form-group">
                                <InputLabel for="description" value="Description" />

                                <textarea id="description" class="mt-1 form-control" v-model="form.description" required></textarea>

                                <InputError class="mt-2" :message="form.errors.description" />
                            </div>

                            <div class="form-group">
                                <InputLabel value="Content" />

                                <vue-editor
                                    useCustomImageHandler
                                    @image-added="handleImageAdded"
                                    @image-removed="handleImageRemoved"
                                    id="content"
                                    v-model="form.content"
                                    required />

                                <InputError class="mt-2" :message="form.errors.content" />
                            </div>

                            <div class="form-group">
                                <InputLabel for="category_id" value="Select Category" />

                                <select name="category_id" v-model="form.category_id" id="category_id" class="form-control" required>
                                    <option v-for="category in categories" :value="category.id">{{ category.title }}</option>
                                </select>

                                <InputError class="mt-2" :message="form.errors.category_id" />
                            </div>

                            <div class="form-group">
                                <InputLabel for="tags" value="Select Tags" />

                                <select multiple name="tags" v-model="form.tags" id="tags" class="form-control">
                                    <option v-for="tag in tags" :value="tag.id">{{ tag.title }}</option>
                                </select>

                                <InputError class="mt-2" :message="form.errors.tags" />
                            </div>

                            <div class="mt-4">
                                <PrimaryButton :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                    Add Post
                                </PrimaryButton>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </MainLayout>
</template>
