<script setup>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
import {Link, useForm, usePage} from '@inertiajs/vue3';
import NavLink from "@/Components/NavLink.vue";
import axios from "axios";
import { debounce } from "lodash"
import {onMounted, ref, onBeforeUnmount, onUpdated, watch} from "vue";
import InstaFeed from "@/Components/InstaFeed.vue";
import UserDropdown from "@/Components/UserDropdown.vue";

const page = usePage()
const user = page.props.auth.user;

let searchModal;

const scrollTopPosition = ref(0);

const isLoading = ref(false);
const results = ref([]);

const search = debounce(async (term) => {
    isLoading.value = true;
    let { data } = await axios.get('/api/search/', {params: {search: term}});
    results.value = data;
    isLoading.value = false;
}, 250);

const handleScroll = () => {
    scrollTopPosition.value = window.scrollY || window.pageYOffset;

    if (scrollTopPosition.value > 10) {
        $('.navigation').addClass('nav-bg');
    } else {
        $('.navigation').removeClass('nav-bg');
    }
}

onMounted(() => {
    searchModal = new bootstrap.Modal(document.getElementById('searchPop'));
    window.addEventListener('scroll', handleScroll);
    initializeSlickSlider();
    handleScroll();
})

onBeforeUnmount(() => {
    window.removeEventListener('scroll', handleScroll);
});

function initializeSlickSlider(){
    $('.post-slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        autoplay: true,
        dots: false,
        arrows: true,
        prevArrow: '<button type=\'button\' class=\'prevArrow\'><i class=\'ti-angle-left\'></i></button>',
        nextArrow: '<button type=\'button\' class=\'nextArrow\'><i class=\'ti-angle-right\'></i></button>'
    });
}

function openSearch() {
    searchModal.show()
}

function closeSearch() {
    searchModal.hide()
    isLoading.value = false;
}

</script>

<template>
    <header class="navigation fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-white">
                <NavLink class="navbar-brand order-1" :href="route('index')" :active="route().current('index')">
                    <ApplicationLogo/>
                </NavLink>
                <div class="collapse navbar-collapse text-center order-lg-2 order-3" id="navigation">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <NavLink class="nav-link" :href="route('index')" :active="route().current('index')">
                                Home
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" :href="route('about')" :active="route().current('about')">
                                About
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" :href="route('contact')" :active="route().current('contact')">
                                Contact
                            </NavLink>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">Pages <i class="ti-angle-down ml-1"></i>
                            </a>
                            <div class="dropdown-menu">

                                <a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a>

                                <a class="dropdown-item" href="terms-conditions.html">Terms Conditions</a>

                            </div>
                        </li>
                    </ul>

                    <UserDropdown v-if="page.props.auth.user" :user="page.props.auth.user"/>
                    <div class="p-3" v-else>
                        <Link class="text-primary mr-2" :href="route('login')">Login</Link>
                        <Link class="text-primary" :href="route('register')">Register</Link>
                    </div>
<!--                        <select class="m-2 border-0 bg-transparent" id="select-language">-->
<!--                            <option id="en" value="" selected>En</option>-->
<!--                            <option id="fr" value="">Fr</option>-->
<!--                        </select>-->

                        <!-- search -->
                        <!--                    <form @submit.prevent="search" class="search-bar">-->
                        <!--                        <input v-model="form.searchQuery" id="search-query" name="s" type="search" placeholder="Type &amp; Hit Enter...">-->
                        <!--                    </form>-->

                    <form class="search-bar">
                        <div class="input-group">
                            <input @click="openSearch" class="form-control" type="search" placeholder="Search">
                        </div>
                    </form>

                </div>

                <button class="navbar-toggler border-0 order-1" type="button" data-toggle="collapse" data-target="#navigation">
                    <i class="ti-menu"></i>
                </button>
            </nav>
        </div>
    </header>
            <slot />

    <footer class="footer">
        <svg class="footer-border" height="214" viewBox="0 0 2204 214" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2203 213C2136.58 157.994 1942.77 -33.1996 1633.1 53.0486C1414.13 114.038 1200.92 188.208 967.765 118.127C820.12 73.7483 263.977 -143.754 0.999958 158.899"
                  stroke-width="2" />
        </svg>

<InstaFeed/>

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 text-center text-md-left mb-4">
                    <ul class="list-inline footer-list mb-0">
                        <li class="list-inline-item"><a href="privacy-policy.html">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="terms-conditions.html">Terms Conditions</a></li>
                    </ul>
                </div>
                <div class="col-md-2 text-center mb-4">
                    <NavLink :href="route('index')" :active="route().current('index')">
                        <ApplicationLogo/>
                    </NavLink>
                </div>
                <div class="col-md-5 text-md-right text-center mb-4">
                    <ul class="list-inline footer-list mb-0">

                        <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li>

                        <li class="list-inline-item"><a href="#"><i class="ti-twitter-alt"></i></a></li>

                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin"></i></a></li>

                        <li class="list-inline-item"><a href="#"><i class="ti-github"></i></a></li>

                        <li class="list-inline-item"><a href="#"><i class="ti-youtube"></i></a></li>

                    </ul>
                </div>
                <div class="col-12">
                    <div class="border-bottom border-default"></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="searchPop" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input @input="(e) => search(e.target.value)" class="form-control" type="text" placeholder="Search...">
                    <button @click="closeSearch" type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="text-center" v-if="isLoading">
                        <div class="spinner-border text-success justify-content-center" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div v-if="results.length > 0 && !isLoading" class="card">
                        <div v-for="item in results" :key="item.id" class="card-body">
                            <Link :href="route('posts.show', item.url)" @click="closeSearch">{{ item.title }}</Link>
                        </div>
                    </div>
                    <div class="mt-3"><h5 v-if="results.length === 0" class="text-danger"> No Results</h5></div>
                </div>
            </div>
        </div>
    </div>
</template>
